.dummy {
    font-family: "Oleo Script Swash Caps", cursive;
    font-family: " Open Sans",sans-serif ;
    font-family: "Roboto",sans-serif ; 
}

:root {
    --dark-choclate: #603936;
    --dark-red: #e63946;
    --light-color: #fff9c6;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family :" Open Sans",sans-serif ;
}

.main-container {
    width: 1152px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 16px;
}

nav ul li a{
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

nav ul li a.aci{
    color: var(--dark-red);
}

a.btn{
    border-radius: 8px;
    padding: 8px 24px;
    text-decoration: none;
    font-weight: bold;
    transition: all 400ms;
}

a.btn.light{
    border: 1px solid black;
}

a.btn.light:hover{
    background-color: var(--dark-red);
    color: var(--light-color);
}

/* hero sectio start */
.hero-container{
    display: flex;
    align-items: center;
    height: calc(100vh-131px);
}
.hero-container.her-text{
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: normal;
  line-height: 100%;
}








/* hero sectio end */


